@(objForm: Form[LoginUser], redirectUrl: String)(implicit request: Request[AnyContent])

@import helper._
@import helper.bootstrap.bootstrapField

@bare(Messages("auth.login")) {
<div class="signin">
 <ul class="nav nav-tabs nav-append-content">
  <li class="active"><a>@Messages("general.signin")</a></li>
 </ul>
 <div class="tab-content">
  <div id="signin" class="tab-pane active">
  @objForm.globalError.map { error =>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      @Messages(error.message)
    </div>
  }
  @helper.form(action = controllers.routes.Auth.doLogin(redirectUrl)) {
   <fieldset>
    <div class="inputs">
    @helper.input(objForm("username"), 'hideLabel -> "", 'class -> "input-xlarge") { (id, name, value, args) =>
    <input type="email" name="@name" value="@value" id="@id" @toHtmlArgs(args) placeholder="@Messages("general.email")">
    }
    @helper.inputPassword(objForm("password"), 'class -> "input-xlarge", 'placeholder -> Messages("general.password"), 'hideLabel -> "")
    </div>
    <div class="form-actions">
     <button type="submit" class="btn btn-primary"><i class="icon-signin"></i> @Messages("auth.login")</button>
     <a class="pull-right" href="@controllers.routes.Auth.forgot">@Messages("auth.forgot")</a>
    </div>
   </fieldset>
  }
  </div>
 </div>
</div>
}
