@(objForm: Form[LoginUser], redirectUrl: String)(implicit request: Request[AnyContent])

@import b3.vertical.fieldConstructor

@bare(Messages("auth.login")) {
<div class="signin">
 <ul class="nav nav-tabs nav-append-content">
  <li class="active"><a>@Messages("general.signin")</a></li>
 </ul>
 <div class="tab-content">
  <div id="signin" class="tab-pane active">
  @objForm.globalError.map { error =>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      @Messages(error.message)
    </div>
  }
  @b3.form(action = controllers.routes.Auth.doLogin(redirectUrl)) {
   <fieldset>
    <div class="inputs">
    @b3.email(objForm("username"), '_error -> true, '_label -> Messages("general.username"), '_class -> "input-xlarge", 'placeholder -> Messages("general.email"), '_showIconOnError -> true)
    @b3.password(objForm("password"), '_label -> Messages("general.password"), '_class -> "input-xlarge", 'placeholder -> Messages("general.password"), '_showIconOnError -> true)
    </div>
    <div class="form-actions">
     <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @Messages("auth.login")</button>
     <a class="pull-right" href="@controllers.routes.Auth.forgot">@Messages("auth.forgot")</a>
    </div>
   </fieldset>
  }
  </div>
 </div>
</div>
}
