@()(implicit request: AuthenticatedRequest, messages: Messages)

@main(title = Messages("admin.title")) {
<h2>@Messages("admin.title")</h2>
<div class="well">
 <div class="row-fluid">
  <div class="span6">
   <ul class="nav nav-list">
    <li class="nav-header"><i class="icon-group"></i> @Messages("admin.people")</li>
    <li><a href="@controllers.admin.routes.User.index()">@Messages("admin.user.menu.list")</a></li>
   </ul>
   <ul class="nav nav-list">
    <li class="nav-header"><i class="icon-cogs"></i> @Messages("admin.general")</li>
    <li><a href="@controllers.routes.Admin.reindex()">@Messages("admin.reindex")</a></li>
   </ul>
  </div>
  <div class="span6">
   <ul class="nav nav-list">
    <li class="nav-header"><i class="icon-suitcase"></i> @Messages("admin.projects")</li>
    <li><a href="@controllers.routes.Project.index()">@Messages("admin.project.menu.list")</a></li>
   </ul>
  </div>
 </div>
</div>
}
