@**
 * Generate the top menu.
 *@
@(currentProject: Option[Long] = None)(implicit request: AuthenticatedRequest, messages: Messages)

@import b3.vertical.fieldConstructor

<ul class="nav navbar-nav">
 <li @if(request.path.startsWith("/ticket/create")) { class="active" }><a href="@controllers.routes.Ticket.create(project = currentProject)" target="_self">@Messages("ticket.add")</a></li>
 <li @if(request.path.startsWith("/search")) { class="active" }><a href="@controllers.routes.Search.index()" target="_self">@Messages("general.ticket")</a></li>
 <li @if(request.path.startsWith("/project")) { class="active" }><a href="@controllers.routes.Project.index()" target="_self">@Messages("general.projects")</a></li>
 <li @if(request.path.startsWith("/admin")) { class="active" }><a href="@controllers.routes.Admin.index()" target="_self">@Messages("general.admin")</a></li>
</ul>
<div class="navbar-form navbar-left">
 @b3.form(action = routes.Search.index(page = 1, count = 10)) {
   <div class="input-group">
     <input type="text" name="query" class="form-control span2" placeholder="@Messages("search.placeholder")">
     <div class="input-group-addon"><i class="fa fa-search"></i></div>
   </div>
 }
</div>
 <ul class="nav navbar-nav navbar-right">
  @if(request.user.isAnonymous) {
   <a href="@controllers.routes.Auth.login(redirectUrl = request.request.uri)" class="btn btn-primary" target="_self">@Messages("auth.login")</a>
  } else {
   <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
     @request.user.username <span class="icon-caret-down">
    </a>
    <ul class="dropdown-menu">
     <li><a href="@controllers.routes.User.edit(request.user.id.get)" target="_self"><i class="icon-user"></i> @Messages("user.account")</a></li>
     <li><a href="@routes.Auth.logout" target="_self"><i class="icon-signout"></i> @Messages("auth.logout")</a></li>
    </ul>
   </li>
  }
 </ul>
</div>
