@(objForm: Form[(models.User)])(implicit request: AuthenticatedRequest, messages: Messages)

@import emp.DateFormatter
@import b3.vertical.fieldConstructor

@main(Messages("admin.user.add")) {
<ul class="breadcrumb">
 <li>
  <a href="@routes.Admin.index">@Messages("admin.general")</a>
 </li>
 <li>
  <a href="@controllers.admin.routes.User.index()">@Messages("admin.user.list")</a>
 </li>
 <li class="active">@Messages("admin.user.add")</li>
</ul>
<h1>@Messages("admin.user.add")</h1>
@b3.form(action = controllers.admin.routes.User.add) {
  @b3.email(objForm("username"), '_label -> Messages("user.email"))
  @b3.checkbox(objForm("admin"), '_label -> Messages("user.admin"))
  @b3.password(objForm("password"), '_label -> Messages("user.password"))
  @b3.text(objForm("realName"), '_label -> Messages("user.realname"))
  @b3.select(field = objForm("timezone"), options = DateFormatter.timeZoneList, '_label -> Messages("user.timezone"))
  @b3.text(objForm("location"), '_label -> Messages("user.location"))
  @b3.text(objForm("url"), '_label -> Messages("user.url"))
  @b3.text(objForm("title"), '_label -> Messages("user.title"))
  @b3.submit('class -> "btn btn-primary"){ <i class="icon-ok"></i> @Messages("form.submit") }
}
}
