@(page: emp.util.Pagination.Page[models.User])(implicit request: AuthenticatedRequest, messages: Messages)

@import views.html.util._

@main(Messages("admin.user.list")) {
<ol class="breadcrumb">
 <li><a href="@routes.Admin.index">@Messages("general.admin")</a></li>
 <li class="active">@Messages("admin.user.list")</li>
</ol>
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.admin.routes.User.create" class="btn btn-default"><i class="fa fa-plus-square-o"></i> @Messages("admin.user.add")</a>
</div>
<h1>@Messages("admin.user.list")</h1>
@Option(page.items).filterNot(_.isEmpty).map { users =>
<table class="table table-bordered table-rounded table-striped">
 <thead>
  <th>@Messages("user.username")</th>
  <th>@Messages("user.realname")</th>
  <th>@Messages("general.actions")</th>
 </thead>
 <tbody>
  @users.map { user =>
  <tr>
   <td><a href="@controllers.routes.User.item(user.id.get)">@user.username</a></td>
   <td>@Messages(user.realName)</td>
   <td class="actions" style="width: 10%">
     <div class="btn-group" role="group">
      <a class="btn btn-default btn-mini" href="@controllers.routes.User.edit(user.id.get)"><i class="fa fa-edit"></i> @Messages("general.edit")</a>
     </div>
   </td>
  </tr>
  }
 </tbody>
 <tfoot>
  <tr>
   <td colspan="4">
     @pager(page)
    </td>
   </tr>
 </tfoot>
</table>
}
}
