@(objForm: Form[(Project)], users: List[(String,String)], asses: List[(String,String)], ttypes: List[(String,String)], priorities: List[(String,String)], severities: List[(String,String)])(implicit request: AuthenticatedRequest)

@import helper._
@import helper.bootstrap.bootstrapField

@main(Messages("project.add")) {
<h1>@Messages("project.add")</h1>
@helper.form(action = controllers.routes.Project.add) {
 <fieldset>
  @helper.inputText(objForm("name"), '_label -> Messages("project.name"), 'placeholder -> Messages("project.name.placeholder"))
  @helper.inputText(objForm("key"), '_label -> Messages("project.key"), 'placeholder -> Messages("project.key.placeholder"))
  @helper.select(field = objForm("owner_id"), options = users, args = '_label -> Messages("project.owner"))
  @helper.select(field = objForm("default_assignee"), options = asses, args = '_label -> Messages("project.default.assignee"))
  @helper.select(field = objForm("default_priority_id"), options = priorities, args = '_label -> Messages("project.default.priority"))
  @helper.select(field = objForm("default_severity_id"), options = severities, args = '_label -> Messages("project.default.severity"))
  @helper.select(field = objForm("default_type_id"), options = ttypes, args = '_label -> Messages("project.default.ttype"))
  <div class="form-actions">
   <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @Messages("form.submit")</button>
  </div>
 </fieldset>
}
}