@(page: emp.util.Pagination.Page[models.Project])(implicit request: AuthenticatedRequest)
@import views.html.util._
@import models.TicketModel
@main(Messages("project.list")) {
<div class="btn-group btn-group-above-table pull-right">
 <a href="@controllers.routes.Project.create" class="btn"><i class="icon-plus-sign"></i> @Messages("project.add")</a>
</div>
<h1>@Messages("project.list")</h1>
@if(page.items.isEmpty) {
<div class="alert alert-info">@Messages("general.projects.empty")</a> <a href="@controllers.routes.Project.create">@Messages("general.projects.add")</a></div>
} else {
@Option(page.items).filterNot(_.isEmpty).map { projects =>
<ul class="thumbnails">
  @projects.map { project =>
  <li class="span4">
   <div class="thumbnail">
    <h3><a href="@controllers.routes.Project.item(project.id.get)">@project.name</a></h3>
   </div>
  </li>
  }
</ul>
}
}
}
