@(objForm: Form[(models.NewTicket)],
  projects: List[(String,String)],
  users: List[(String,String)],
  projs: List[(String,String)],
  ttypes: List[(String,String)],
  priorities: List[(String,String)],
  severities: List[(String,String)],
  project: Option[models.Project]
)(implicit request: AuthenticatedRequest, messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }
@import play.api.libs.json.Json

@main(Messages("ticket.add")) {
<h1>@Messages("ticket.add")</h1>
@b3.form(action = controllers.routes.Ticket.add(), 'id -> "add-ticket") {
  @b3.select(field = objForm("projectId"), options = projects, args = '_label -> Messages("ticket.project"))
  @b3.text(field = objForm("summary"), args = 'class -> "span8", '_label -> Messages("ticket.summary"))
  @b3.textarea(field = objForm("description"), args = 'class -> "span8", 'rows -> 5, '_label -> Messages("ticket.description"))
  @b3.select(field = objForm("reporterId"), options = users, args = '_label -> Messages("ticket.reporter"))
  @b3.select(field = objForm("assigneeId"), options = users, args = '_label -> Messages("ticket.assignee"))
  @b3.select(field = objForm("typeId"), options = ttypes, args = '_label -> Messages("ticket.type"))
  @b3.select(field = objForm("priorityId"), options = priorities, args = '_label -> Messages("ticket.priority"))
  @b3.select(field = objForm("severityId"), options = severities, args = '_label -> Messages("ticket.severity"))
  @b3.submit('class -> "btn btn-primary"){ <i class="fa fa-check-square-o"></i> @Messages("form.submit") }
}
<script>
$(function(){
  var view = TicketAddViewModel(
    Html(Json.toJson(request.user).toString),
    Html(projs),
    Html(project),
    Html(users),
    Html(ttypes),
    Html(priorities),
    Html(severities)
  );
  ko.applyBindings(view);
});
</script>
}
