@(
  id: String, objForm: Form[(TicketData)],
  users: List[(String,String)],
  assignees: List[(String,String)],
  attentions: List[(String,String)],
  projs: List[(String,String)],
  ttypes: List[(String,String)],
  priorities: List[(String,String)],
  severities: List[(String,String)]
)(implicit request: AuthenticatedRequest, messages: Messages)

@import b3.vertical.fieldConstructor

@main(Messages("ticket.edit")) {
<h1>@Messages("ticket.edit")</h1>
@helper.form(action = routes.Ticket.update(id)) {
  @b3.text(field = objForm("summary"), args = 'class -> "span8", '_label -> Messages("ticket.summary"))
  @b3.textarea(field = objForm("description"), args = 'class -> "span8", 'rows -> 5, '_label -> Messages("ticket.description"))
  @b3.select(field = objForm("userId"), options = users, args = '_label -> Messages("ticket.reporter"))
  @b3.select(field = objForm("assigneeId"), options = assignees, args = '_label -> Messages("ticket.assignee"))
  @b3.select(field = objForm("attentionId"), options = attentions, args = '_label -> Messages("ticket.attention"))
  @b3.select(field = objForm("typeId"), options = ttypes, args = 'class -> "foo", '_label -> Messages("ticket.type"))
  @b3.select(field = objForm("priorityId"), options = priorities, args = 'class -> "foo", '_label -> Messages("ticket.priority"))
  @b3.select(field = objForm("severityId"), options = severities, args = 'class -> "foo", '_label -> Messages("ticket.severity"))
  @b3.submit('class -> "btn btn-primary"){ <i class="fa fa-check-square-o"></i> @Messages("form.submit") }
}
}
