@(id: Long, objForm: Form[(models.User)], tokenForm: Form[models.UserToken], passForm: Form[(NewPassword)])(implicit request: AuthenticatedRequest, messages: Messages)

@import emp.DateFormatter
@import b3.vertical.fieldConstructor

@main(Messages("user.edit")) {
<div class="row-fluid">
 <div class="span6">
  <h1>@Messages("user.edit")</h1>
  @b3.form(action = controllers.routes.User.update(id)) {
    @b3.email(objForm("username"), '_label -> Messages("user.email"))
    @b3.text(objForm("realName"), '_label -> Messages("user.realname"))
    @b3.select(field = objForm("timezone"), options = DateFormatter.timeZoneList, '_label -> Messages("user.timezone"))
    @b3.text(objForm("location"), '_label -> Messages("user.location"))
    @b3.text(objForm("url"), '_label -> Messages("user.url"))
    @b3.text(objForm("title"), '_label -> Messages("user.title"))
    @b3.submit('class -> "btn btn-primary"){ <i class="icon-ok"></i> @Messages("form.submit") }
  }
 </div>
 <div class="span6">
  <h1>@Messages("user.changepassword")</h1>
  @passForm.globalError.map { error =>
    <div class="alert alert-error">@Messages(error.message)</div>
  }
  @b3.form(action = controllers.routes.User.updatePassword(id)) {
    @b3.password(passForm("password"), '_label -> Messages("user.password"))
    @b3.password(passForm("password2"), '_label -> Messages("user.password.confirm"))
    @b3.submit('class -> "btn btn-primary"){ <i class="icon-ok"></i> @Messages("form.submit") }
  }
  <div class="btn-group btn-group-above-table pull-right">
   <a class="btn" data-toggle="modal" href="#token"><i class="icon-plus"></i> @Messages("user.token.add")</a>
  </div>
  <h1>@Messages("user.token.list")</h1>
  <p data-bind="visible: tokens().length < 1">@Messages("user.token.none")</p>
  <table data-bind="visible: tokens().length >= 1" class="table table-bordered table-striped">
   <thead>
    <tr>
     <th>@Messages("user.token.token")</th>
     <th>@Messages("user.token.comment")</th>
     <th>@Messages("user.token.date_created")</th>
     <th>@Messages("general.actions")</th>
    </tr>
   </thead>
   <tbody data-bind="foreach: tokens()">
    <tr>
     <td data-bind="text: token"></td>
     <td data-bind="text: comment"></td>
     <td data-bind="text: dateCreated"></td>
     <td class="actions">
      <div class="btn-group">
       <button data-bind="click: removeToken" class="btn btn-danger btn-mini">@Messages("general.delete")</button>
      </div>
    </tr>
   </tbody>
  </table>
 </div>
<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>
<div class="modal hide" id="token">
 @helper.form(action = routes.User.generateToken(id), args = 'method -> "POST") {
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>@Messages("user.token.add")</h3>
 </div>
 <div class="modal-body">
   <p>@Html(Messages("user.token.summary"))</p>
   <fieldset>
     @b3.password(field = tokenForm("comment"), args = 'class -> "span4", '_label -> Messages("user.token.comment"))
   </fieldset>
 </div>
 <div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">@Messages("form.cancel")</a>
  <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> @Messages("form.submit")</button>
 </div>
 }
</div>
<script>
$(function(){
  var view = UserEditViewModel(@id);
  ko.applyBindings(view);
});
</script>
}
