@(id: Long, objForm: Form[(User)], tokenForm: Form[models.UserToken], passForm: Form[(NewPassword)])(implicit request: AuthenticatedRequest)

@import emp.DateFormatter
@import helper._
@import helper.bootstrap.bootstrapField

@main(Messages("user.edit")) {
<div class="row-fluid">
 <div class="span6">
  <h1>@Messages("user.edit")</h1>
  @helper.form(action = controllers.routes.User.update(id)) {
   <fieldset>
    @helper.input(objForm("username"), '_label -> Messages("user.email")) { (id, name, value, args) =>
     <input type="email" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
    }
    @helper.inputText(objForm("realName"), '_label -> Messages("user.realname"))
    @helper.select(field = objForm("timezone"), options = DateFormatter.timeZoneList, '_label -> Messages("user.timezone"))
    @helper.inputText(objForm("location"), '_label -> Messages("user.location"))
    @helper.inputText(objForm("url"), '_label -> Messages("user.url"))
    @helper.inputText(objForm("title"), '_label -> Messages("user.title"))
    <div class="form-actions">
     <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> @Messages("form.submit")</button>
    </div>
   </fieldset>
  }
 </div>
 <div class="span6">
  <h1>@Messages("user.changepassword")</h1>
  @passForm.globalError.map { error =>
    <div class="alert alert-error">@Messages(error.message)</div>
  }
  @helper.form(action = controllers.routes.User.updatePassword(id)) {
   <fieldset>
    @helper.inputPassword(passForm("password"), '_label -> Messages("user.password"))
    @helper.inputPassword(passForm("password2"), '_label -> Messages("user.password.confirm"))
   </fieldset>
   <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> @Messages("form.submit")</button>
   </div>
  }
  <div class="btn-group btn-group-above-table pull-right">
   <a class="btn" data-toggle="modal" href="#token"><i class="icon-plus"></i> @Messages("user.token.add")</a>
  </div>
  <h1>@Messages("user.token.list")</h1>
  <p data-bind="visible: tokens().length < 1">@Messages("user.token.none")</p>
  <table data-bind="visible: tokens().length >= 1" class="table table-bordered table-striped">
   <thead>
    <tr>
     <th>@Messages("user.token.token")</th>
     <th>@Messages("user.token.comment")</th>
     <th>@Messages("user.token.date_created")</th>
     <th>@Messages("general.actions")</th>
    </tr>
   </thead>
   <tbody data-bind="foreach: tokens()">
    <tr>
     <td data-bind="text: token"></td>
     <td data-bind="text: comment"></td>
     <td data-bind="text: dateCreated"></td>
     <td class="actions">
      <div class="btn-group">
       <button data-bind="click: removeToken" class="btn btn-danger btn-mini">@Messages("general.delete")</button>
      </div>
    </tr>
   </tbody>
  </table>
 </div>
<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>
<div class="modal hide" id="token">
 @helper.form(action = routes.User.generateToken(id), args = 'method -> "POST") {
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>@Messages("user.token.add")</h3>
 </div>
 <div class="modal-body">
   <p>@Html(Messages("user.token.summary"))</p>
   <fieldset>
     @helper.inputText(field = tokenForm("comment"), args = 'class -> "span4", '_label -> Messages("user.token.comment"))
   </fieldset>
 </div>
 <div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">@Messages("form.cancel")</a>
  <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> @Messages("form.submit")</button>
 </div>
 }
</div>
<script>
$(function(){
  var view = UserEditViewModel(@id);
  ko.applyBindings(view);
});
</script>
}