@**
 * Main template for use by all of Emperor's pages.
 *@
@(title: String, currentProject: Option[Long] = None)(content: Html)(implicit request: AuthenticatedRequest)

@import play.api.Play.current
@import play.api.Play
@import views.html.util._

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emperor: @title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
    <script src="@routes.Assets.at("js/URI.js")"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/i18next/1.6.3/i18next-1.6.3.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-minus"></span>
            <span class="fa fa-minus"></span>
            <span class="fa fa-minus"></span>
          </button>
          <a class="navbar-brand" href="@routes.Core.index()">Emperor</a>
        </div>     
        <div class="navbar-collapse collapse">
         @topmenu(currentProject = currentProject)(request)
        </div>
      </div>
    </div>
    <div class="container">
     <div id="alert-area">
      @{ request.flash.get("success") match {
        case Some(message) => {
          <div class="alert alert-success">
           <a class="close" data-dismiss="alert" href="#">&times;</a>
           { Messages(message) }
          </div>
        }
        case None => { }
      }
      }
      @{ request.flash.get("error") match {
        case Some(message) => {
          <div class="alert alert-error">
           <a class="close" data-dismiss="alert" href="#">&times;</a>
           { Messages(message) }
          </div>
        }
        case None => { }
      }
      }
      @{ request.flash.get("info") match {
        case Some(message) => {
          <div class="alert alert-info">
           <a class="close" data-dismiss="alert" href="#">&times;</a>
           { Messages(message) }
          </div>
        }
        case None => { }
      }
      }
     </div>
     @content
    </div>

   <footer>
    @Html(Messages("app.footer.blurb", emp.BuildInfo.version))
    <div class="pull-right">
    <a href="http://emperorapp.com/docs" target="_blank">@Messages("general.documentation")</a>
    </div>
   </footer>
   <script src="@routes.Assets.at("js/emp.js")"></script>
   <!-- XXX This should go -->
   <script id="alerter" type="text/x-handlebars-template">
    <div class="alert {{alert_class}}">
     <a class="close" data-dismiss="alert" href="#">&times;</a>
     {{message}}
    </div>
   </script>
  </body>
</html>
